GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=19QvBr2wSK1vu_A0LXmuZgyZ8HzQiiHCEuATFkoxWqBE
AUTH_SECRET=generate-a-random-secret-here
NEXT_PUBLIC_BASE_URL=http://localhost:3000
